@font-face {
    font-family: 'PicNic';
    src: url('fonts/PicNic/PicNic-Regular.woff2') format('woff2'),
        url('fonts/PicNic/PicNic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Velvelyne-Bold';
    src: url('fonts/Velvelyne-main/woff/Velvelyne-Bold.woff') format('woff'),
        url('fonts/Velvelyne-main/woff2/Velvelyne-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Velvelyne-Light';
    src: url('fonts/Velvelyne-main/woff/Velvelyne-Light.woff') format('woff'),
        url('fonts/Velvelyne-main/woff2/Velvelyne-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'Velvelyne-Regular';
    src: url('fonts/Velvelyne-main/woff/Velvelyne-Regular.woff') format('woff'),
        url('fonts/Velvelyne-main/woff2/Velvelyne-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Velvelyne-Book';
    src: url('fonts/Velvelyne-main/woff/Velvelyne-Book.woff') format('woff'),
        url('fonts/Velvelyne-main/woff2/Velvelyne-Book.woff2') format('woff2');
}

:root{
    --black: #1f1f1f;
    --red-bright: #f10b0b;
    --red-dull: #c10d0d;
    --spacing: 2rem;
    --morespacing: 4rem;
    font-family: "Archivo Narrow", sans-serif;
    font-size: 1.5rem;
}

body{
    padding: var(--spacing);
    background-color: var(--black);
    color: white;
}

/* .string-wrapper{
    position: absolute;
    margin-block-start: calc(var(--morespacing)*4);
} */

.string{
border-bottom: calc(var(--spacing)/10) solid var(--red-dull);
width: calc(var(--spacing)*6);
transform: translateY(calc(var(--spacing)*-0.2)) rotate(60deg);
transform-origin: center;
margin-block-start: calc(var(--morespacing));
margin-inline-start:calc(var(--spacing)*-1);
position: relative;
z-index: -1;
}

/* dont forget attributions: https://linuxhint.com/draw-diagonal-line-using-css/  */

.square{
width: calc(var(--morespacing)/4);
height: calc(var(--morespacing)/4);
background: var(--red-bright);
margin-inline: auto;
/* margin-inline-start: calc(var(--morespacing)*2.4); */
margin-block-start: calc(var(--morespacing));
transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* dont forget attributions: https://css-tricks.com/the-shapes-of-css/ */

.square:hover{
    transform: scale(12); 
    background-color: var(--red-dull);
    display: flex;
    justify-content: center;
}

h1{
    font-size: var(--spacing);
    font-family: 'Velvelyne-Book';
    text-transform: lowercase;
    margin-block-end: calc(var(--spacing)/2);
}


