@font-face {
    font-family: 'PicNic';
    src: url('../fonts/PicNic/PicNic-Regular.woff2') format('woff2'),
        url('../fonts/PicNic/PicNic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Velvelyne-Bold';
    src: url('../fonts/Velvelyne-main/woff/Velvelyne-Bold.woff') format('woff'),
        url('../fonts/Velvelyne-main/woff2/Velvelyne-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Velvelyne-Light';
    src: url('../fonts/Velvelyne-main/woff/Velvelyne-Light.woff') format('woff'),
        url('../fonts/Velvelyne-main/woff2/Velvelyne-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'Velvelyne-Regular';
    src: url('../fonts/Velvelyne-main/woff/Velvelyne-Regular.woff') format('woff'),
        url('../fonts/Velvelyne-main/woff2/Velvelyne-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Velvelyne-Book';
    src: url('../fonts/Velvelyne-main/woff/Velvelyne-Book.woff') format('woff'),
        url('../fonts/Velvelyne-main/woff2/Velvelyne-Book.woff2') format('woff2');
}

@font-face {
  font-family: 'JetBrainsMono-Regular';
  src: url('../fonts/JetBrainsMono/JetBrainsMono-Variable.woff2') format('woff2'),
       url('../fonts/JetBrainsMono/JetBrainsMono-Variable.woff') format('woff'),
       url('../fonts/JetBrainsMono/JetBrainsMono-Variable.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'anthony-master-regular';
  src: url('../fonts/anthony-master/Anthony.woff2') format('woff2'),
       url('../fonts/anthony-master/Anthony.woff') format('woff'),
       url('../fonts/anthony-master/Anthony.otf') format('opentype');
}


:root{
  --offwhite: #feffdc;
  --red-bright: #f10b0b;
  --spacing: 2rem;
  --morespacing: 4rem;
  font-family: 'JetBrainsMono-Regular', monospace;
  font-size: 1.5rem;
  --hover-scale: 6;
  --square-size: calc(var(--morespacing)/2);
  --text-pad: calc(var(--spacing)/2);
  --border-width-mobile: 0.08rem;
  --border-width-desktop: 0.4rem;
  --body-font: calc(var(--spacing)/2.5);
  --string-opacity: 0.8;
}

body{
  padding: calc(var(--spacing)/8);
  background-color: var(--offwhite);
  color: black;
  overflow-x: hidden;
  font-size: var(--body-font);
}

/* CHANNEL GRID */

#channel-blocks {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: calc(var(--spacing)); 
  list-style: none;
  padding: 0;
  margin: var(--spacing) 0;
  box-sizing: border-box;
  max-inline-size: 100%;
}

/* IMAGES START*/
.block-media {
  position: relative;
  display: inline-block; 
  height: auto;
}

.overlay {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--red-bright);

  display: none;
    
  /* VISIBLE STATE */
  opacity: 0.3; 
  z-index: 2;
    
  /* INTERACTION */
  pointer-events: none; 
}

.block-info {
  position: absolute; 
  inset-block-start: 0;  
  inset-inline-start: 0; 
  inline-size: 100%;     
  block-size: 100%;      
  
  z-index: 10;
  
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;     

  padding: var(--text-pad); 
  box-sizing: border-box; 

  display:none;
}

.block-info span {
  position: absolute;
  inset-block-start: var(--text-pad); 
  inset-inline-end: var(--text-pad);  

  color: var(--red-bright);
  box-sizing: border-box;
  display: inline-block;   
  width: fit-content;      
  
  
  padding-block: calc(var(--spacing)/4);  
  padding-inline: calc(var(--spacing)/2); 

  border: var(--border-width-mobile) solid var(--red-bright);
}

.block-info h2, 
.block-info .block-title {
  text-align: center;
  color: var(--offwhite);
  margin: 0;
}

.block-title {
  opacity: 0; 
}

/* INTERACTION */

.block-media:hover .overlay {
    opacity: 0;
}

.block-media:hover .block-info span {
    opacity: 0;
}

.block-media:hover .block-title {
    opacity: 1;
}

/* IMAGES END*/

/*TEXT BLOCK START*/

.text-block-content {
  font-size: var(--body-font);
  color: var(--red-bright);
  font-family: 'JetBrainsMono-Regular', monospace;
  background-color: var(--offwhite);
  z-index: 100;
  position: relative;
  padding: calc(var(--text-pad)/4);
  box-sizing: border-box;
  text-wrap: wrap;
}

/*TEXT BLOCK END*/

/*LINKS START*/

figcaption {
display: none;
}

/*LINKS END*/

audio {
	block-size: revert;
	inline-size: 100%;
}

/* META DATA STYLES */

#channel-blocks li {
  padding: calc(var(--spacing)/8);
  block-size: auto; 
  align-self: start; 
  overflow: hidden; 
}

#channel-blocks img {
  inline-size: 100%;
  block-size: auto;
  display: block; 
  object-fit: cover;
}

#channel-blocks a {
  color: var(--red-bright);
  text-decoration: none;
}

#channel-blocks a:hover {
  text-decoration: underline;
}

/* BUTTONS */

#controls {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: calc(var(--spacing) / 2);  
  
  inline-size: 100%;
  margin-block-end: var(--spacing);
  box-sizing: border-box;
}

button {
  inline-size: 100%;
  padding: calc(0.5 * var(--spacing));
  border: var(--border-width-mobile) solid var(--red-bright);
  color: var(--red-bright);
  background: transparent;
  font-family: 'JetBrainsMono-Regular', monospace;
  cursor: pointer;
  
  /* Ensure they are the same height too */
  block-size: 100%; 
  display: flex;
  align-items: center;
  justify-content: center;
}

/* FILTERS */

#channel-blocks {
   &.show-images {
    li {
      opacity: 0;  
      pointer-events: none;  
    }
    
    li.image-block {
      opacity: 1; 
      pointer-events: auto;
    }
  }
}

#channel-blocks {
  &.show-text {
    li{
      display: none;
      pointer-events: none;  
    }
    li.text-block{
      display: block;
      pointer-events: auto;
    }
  }
}

#channel-blocks {
  &.show-links {
    li{
      opacity: 0;  
      pointer-events: none;  
    }
    
    li.link-block{
      opacity: 1; 
      pointer-events: auto;
    }
  }
}

#channel-blocks {
  &.show-audio {
    li{
      display: none;
      pointer-events: none;  
    }
    
    li.audio-block{
      display: block; 
      pointer-events: auto;
    }
  }
}

#channel-blocks {
  &.show-videos {
    li {
      display: none;  
      pointer-events: none;  
    }
    
    li.video-block {
      display: block;
      pointer-events: auto;
    }
  }
}

ul{
  padding-block-end: var(--spacing);
  display: flex;
  flex-direction: column; 
  align-items: center;    
  text-align: center;    

  gap: var(--spacing);    
  padding-block-end: var(--spacing);
}

h1{
  font-size:calc(var(--spacing)*2);
  font-family: 'anthony-master-regular', serif;
  text-transform: lowercase;
  margin-inline: auto;
  color: var(--red-bright);
  text-align: center;
  line-height: 3rem;
  padding-block-end: var(--morespacing);
  padding-block-start: var(--spacing);
}

#connection-lines {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  inline-size: 100%;
  block-size: 100%;
  z-index: 10; 
  pointer-events: none; 
  overflow: visible;
}

#connection-lines line {
  stroke: var(--red-bright); 
  stroke-width: var(--border-width-mobile);
  opacity: var(--string-opacity); 
}

html{
  padding: calc(var(--spacing)/4);
}

@media (width > 1200px) {
  :root{ 
    font-size: 100%;
  }

  body{
    /* border: var(--border-width-desktop) solid var(--red-dull);
    border-radius: var( --border-radius-mobile); */
    /* padding: calc(var(--morespacing));
    padding-inline: calc(var(--morespacing)*2);
    padding-block-end: calc(var(--morespacing)*3); */
    padding:0;
  }

  header{
    display: grid;
    grid-template-rows: min-content min-content;
    
  }

  header ul {
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: calc(var(--morespacing)); 
    align-items: flex-start; 
  }

   header li:first-child {
      flex: 1; 
      border: var(--border-width-desktop) solid var(--red-dull);
      padding: var(--spacing);
      border-radius: var( --border-radius-mobile);
      text-align: left;
  }

  header li:nth-child(2) {
      flex: 1;
      text-align: right;
      border: var(--border-width-desktop) solid var(--red-dull);
      padding: var(--spacing);
      border-radius:var( --border-radius-mobile);
  }

  ul{
    font-size: calc(var(--spacing)/1.5);
    padding-block: calc(var(--morespacing)*2);
  
  }
  

#channel-blocks {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--morespacing); 
  width: 100%;
  box-sizing: border-box;
  /* border: var(--border-width-mobile) solid black; */
  margin-block-end: 0;
}

#channel-blocks li {
  font-size: calc(var(--spacing) / 2);
  aspect-ratio: 1 / 1;  
  overflow: hidden; 
  padding: 0;  
  /* border: none;  */
  /* border-right: var(--border-width-mobile) solid black;
  border-bottom: var(--border-width-mobile) solid black; */
  /* border-radius: 0; */
  display: flex;
  align-items: center;
  justify-content: center;
}


#channel-blocks img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0;
}

h1{
  font-size: calc(var(--morespacing)*2);
  color: var(--red-bright);
  padding-block-start: var(--spacing);
  }

html{
  padding: var(--spacing);
  }
}



/* Final note: I tried to incporporate js so we could use 'tap' to see the block styles on mobile, but was unable to implement it fully with current styling. Hence you cannot see the block styles on mobile for now, but I will adjust it in the next milestone.  */

/* --- GRID ITEMS (PLAYERS) --- */

  /* .grid{
    grid-auto-rows: minmax(6rem, 20rem); 
  } */
   
/* 
  .player:first-child {
    border-top-width: var(--border-width-desktop);   
    border-right-width: var(--border-width-desktop); 
    border-top-right-radius: var( --border-radius-mobile);
  }

  .player:nth-child(even) {

    border-left-width: var(--border-width-desktop);
    border-top-width: var(--border-width-desktop);
    
    border-top-left-radius: var( --border-radius-mobile);
  }

  .player:nth-child(odd) {
    border-top-width:var(--border-width-desktop);
    border-right-width: var(--border-width-desktop);
    
    border-top-right-radius: var( --border-radius-mobile);
  }

  .player:nth-child(4) {
    border-bottom-width: var(--border-width-desktop);
  }

  .square{
    width: var(--square-size);
    border-radius: var(--border-width-mobile);
    height: var(--square-size);
    background: var(--red-bright);
    margin-block-start: calc(var(--morespacing)*5);
  }

  .square-content {
    opacity: 0;
    text-align: center;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    gap: 1rem; 
    width: calc(100% * var(--hover-scale));
    height: calc(100% * var(--hover-scale)); 
    box-sizing: border-box;
    font-family: 'JetBrainsMono-Regular';
    font-size: calc(var(--spacing) /4); 
    line-height: 1.2; 
    flex-shrink: 0;
    padding: var(--text-pad);
    white-space: normal;
}

.square:hover {
    transform: scale(calc(var(--hover-scale)*2)); 
    background-color: var(--red-dull);
}

.square:hover .square-content {
    opacity: 1;
    transform: scale(calc(1 / var(--hover-scale)));
}

.square-content.text-one{
    padding: calc(var(--spacing));
}

.square:hover .square-content.link-one {
    color: white;
    text-decoration: underline;
} */


_______


/* .player {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: 0 solid var(--red-dull);
  border-radius: 0;
}

.player:first-child {
  border-top-width: var(--border-width-mobile);
  border-right-width: var(--border-width-mobile);
  border-top-right-radius: var( --border-radius-mobile);
}


.player:nth-child(even) {
  border-left-width:var(--border-width-mobile);
  border-top-width: var(--border-width-mobile);
  border-top-left-radius: var( --border-radius-mobile);
}

.player:nth-child(odd) {
  border-top-width: var(--border-width-mobile);
  border-right-width: var(--border-width-mobile);
  border-top-right-radius: var( --border-radius-mobile);
}

.player:nth-child(4) {
  border-bottom-width: var(--border-width-mobile);
}

.square{
width: var(--square-size);
border-radius: var(--border-width-mobile);
height: var(--square-size);
background: var(--red-bright);
margin-block-start: calc(var(--morespacing)*3);

I wanted a square for my design because I am mimicking 'points' on a line. Initially I wanted a circle but I felt that was looking out of place with the feel of the blocks
I found how to make a square here: https://css-tricks.com/the-shapes-of-css/
I think what is happening is, using a div container, we are simply adjusting its height and width manually to replicate the look of a square. Because the div is already a pre-made container we don't need to do much more.
    
display: flex;
align-items: center;
justify-content: center;
    
transform-origin: center;

I wanted to rotate my squares to make them look cooler, like a diamond shape.
I found out you can adjust where you rotate your shape from from here: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/transform-origin
The 'transform-origin' is the same thing as an anchor point in graphic design I think. So what is happening is that using this property we are basically adjusting the anchor point to where we want to rotate our object from.
transform: rotate(45deg);
transition: transform 0.3s ease, background-color 0.3s ease;
    
position: relative; 
z-index: 10;
}

.square-content {
    opacity: 0;
    text-align: center;

    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    gap: 1rem; 

    width: calc(100% * var(--hover-scale));
    height: calc(100% * var(--hover-scale)); 
    box-sizing: border-box;
    flex-shrink: 0;
    
    padding: var(--text-pad);
    font-size: calc(var(--spacing) / 2); 
    line-height: 1.2; 
    white-space: normal;
    color: var(--black)
}

.square:hover {
    transform: scale(var(--hover-scale)); 
    background-color: var(--red-dull);
}

.square:hover .square-content {
    opacity: 1;
    transform: scale(calc(1 / var(--hover-scale)));
}

When I was creating this hover effect on my square, because the square is very small, once it grows, the text also becomes huge with it. So I asked Google Gemini for help.
I found out the fix from Google Gemini.
Basically, in order to make the text 'appear' back to normal size, we have to shrink it by the same amount we grew it in the first place. My hover scale that we grew it by was 12, so here, we are dividing it by that again. Now the text appears back to normal size. */

____

/* --- GRID CONTAINER --- */
/* .grid {
  display: grid;
  grid-template-columns: 1fr; 
  grid-auto-rows: minmax(6rem, 12rem); 
  
  border: none;
  gap: 0; 
  width: 100%;
  margin-inline: auto;
} */

