/* @font-face {
    font-family: 'PicNic';
    src: url('../fonts/PicNic/PicNic-Regular.woff2') format('woff2'),
        url('../fonts/PicNic/PicNic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} */

/* @font-face {
    font-family: 'Velvelyne-Bold';
    src: url('../fonts/Velvelyne-main/woff/Velvelyne-Bold.woff') format('woff'),
        url('../fonts/Velvelyne-main/woff2/Velvelyne-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Velvelyne-Light';
    src: url('../fonts/Velvelyne-main/woff/Velvelyne-Light.woff') format('woff'),
        url('../fonts/Velvelyne-main/woff2/Velvelyne-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'Velvelyne-Regular';
    src: url('../fonts/Velvelyne-main/woff/Velvelyne-Regular.woff') format('woff'),
        url('../fonts/Velvelyne-main/woff2/Velvelyne-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Velvelyne-Book';
    src: url('../fonts/Velvelyne-main/woff/Velvelyne-Book.woff') format('woff'),
        url('../fonts/Velvelyne-main/woff2/Velvelyne-Book.woff2') format('woff2');
} */

@font-face {
  font-family: 'JetBrainsMono-Regular';
  src: url('../fonts/JetBrainsMono/JetBrainsMono-Variable.woff2') format('woff2'),
       url('../fonts/JetBrainsMono/JetBrainsMono-Variable.woff') format('woff'),
       url('../fonts/JetBrainsMono/JetBrainsMono-Variable.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'anthony-master-regular';
  src: url('../fonts/anthony-master/Anthony.woff2') format('woff2'),
       url('../fonts/anthony-master/Anthony.woff') format('woff'),
       url('../fonts/anthony-master/Anthony.otf') format('opentype');
}


:root{
  --offwhite: #feffdc;
  --red-bright: #f10b0b;
  --red-dull:#5e0606;
  --spacing: 2rem;
  --morespacing: 4rem;
  font-family: 'JetBrainsMono-Regular', monospace;
  font-size: 1.1rem;
  --text-pad: calc(var(--spacing)/2);
  --border-width-mobile: 0.08rem;
  --border-width-desktop: 0.1rem;
  --body-font: calc(var(--spacing)/2.5);
  --string-opacity: 0.8;
  --dimmer-opacity:0.5
}

body{
  padding: calc(var(--spacing)/8);
  background-color: var(--offwhite);
  color: var(--red-bright);
  font-size: var(--body-font);
}

/* CHANNEL GRID */

#channel-blocks {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: calc(var(--spacing)); 
  list-style: none;
  padding: 0;
  margin: var(--spacing) 0;
  box-sizing: border-box;
  max-inline-size: 100%;
}

/* IMAGES START*/
.block-media {
  position: relative;
  display: inline-block; 
  height: auto;
  inline-size: 100%;
}

/* .overlay {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--red-bright);

  display: none;
    

  opacity: 0.3; 
  z-index: 2;
    

  pointer-events: none; 
} */


/* IMAGES END*/

/*TEXT BLOCK START*/

.text-block-content {
  font-size: var(--body-font);
  color: var(--red-bright);
  font-family: 'JetBrainsMono-Regular', monospace;
  background-color: var(--offwhite);
  z-index: 20;
  position: relative;
  padding: calc(var(--text-pad)/4);
  box-sizing: border-box;
  text-wrap: wrap;
}

/*TEXT BLOCK END*/


audio {
	block-size: revert;
	inline-size: 100%;
}

/* META DATA STYLES */

#channel-blocks li {
  padding: calc(var(--spacing)/8);
  block-size: auto; 
  align-self: start; 
  overflow: hidden; 
}

#channel-blocks img {
  inline-size: 100%;
  block-size: auto;
  display: block; 
  object-fit: cover;
}

#channel-blocks a {
  color: var(--red-bright);
  text-decoration: none;
}

#channel-blocks:hover {
  cursor: pointer;
}

#channel-description p:first-child{
  padding-block-end: var(--spacing);
}

/* BUTTONS */

#controls {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  
  gap: calc(var(--spacing) / 4);  
  
  inline-size: 100%;
  box-sizing: border-box;

  position: sticky; 
  inset-block-start: 0; 
  z-index: 30;
  
  background-color: var(--offwhite); 
  padding-block: var(--text-pad); 
  
  margin-block-end: var(--spacing);
}

button, .action-btn{
  all: unset; 
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--red-bright);
  block-size: var(--spacing);
  inline-size: 100%;
  box-sizing: border-box;
  transition: color 0.3s ease;
}

/* Horizontal Lines (Block-axis / Top & Bottom) */
button::before, .action-btn::before{
  content: "";
  position: absolute;
  
  /* inset-block is top/bottom gap, inset-inline is left/right gap */
  inset-block: 0; 
  inset-inline: calc(var(--text-pad)/2); 
  
  border-block: var(--border-width-mobile) solid var(--red-bright);
  
  pointer-events: none;
  transition: inset 0.3s ease-in-out;
}

/* Vertical Lines (Inline-axis / Left & Right) */
button::after, .action-btn::after{
  content: "";
  position: absolute;
  
  inset-block: calc(var(--text-pad)/2); 
  inset-inline: 0; 
  
  border-inline: var(--border-width-mobile) solid var(--red-bright);
  
  pointer-events: none;
  transition: inset 0.3s ease-in-out;
}

/* HOVER STATE */
button:hover, .action-btn:hover{
  color: var(--red-bright);
}

button:hover::before, .action-btn:hover::before,
button:hover::after, .action-btn:hover::after {
  inset: 0;
}


/* FILTERS */

#channel-blocks {
   &.show-images {
    li {
      opacity: 0;  
      pointer-events: none;  
    }
    
    li.image-block {
      opacity: 1; 
      pointer-events: auto;
    }
  }
}

#channel-blocks {
  &.show-text {
    li{
      display: none;
      pointer-events: none;  
    }
    li.text-block{
      display: block;
      pointer-events: auto;
    }
  }
}

#channel-blocks {
  &.show-links {
    li{
      opacity: 0;  
      pointer-events: none;  
    }
    
    li.link-block{
      opacity: 1; 
      pointer-events: auto;
    }
  }
}

#channel-blocks {
  &.show-audio {
    li{
      display: none;
      pointer-events: none;  
    }
    
    li.audio-block{
      display: block; 
      pointer-events: auto;
    }
  }
}

#channel-blocks {
  &.show-videos {
    li {
      display: none;  
      pointer-events: none;  
    }
    
    li.video-block {
      display: block;
      pointer-events: auto;
    }
  }
}


/* GENERAL STYLES */

ul{
  padding-block-end: var(--spacing);
  display: flex;
  flex-direction: column; 
  align-items: center;    
  text-align: center;    
  gap: var(--spacing);    

}

em{
  font-style: italic;
}

h1{
  font-size:calc(var(--spacing)*2);
  font-family: 'anthony-master-regular', serif;
  text-transform: lowercase;
  margin-inline: auto;
  color: var(--red-bright);
  text-align: center;
  line-height: 3rem;
  padding-block-end: var(--morespacing);
  padding-block-start: var(--spacing);
}

audio {
	block-size: revert;
	inline-size: 100%;
}

/* CONNECTION LINES */

/* SVG CONTAINER */
#connection-lines {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  inline-size: 100%;
  block-size: 100%;
  z-index: 10; 
  pointer-events: none; 
  overflow: visible;
}

/* LINES  */
.connection-line {
  stroke: var(--red-bright); 
  stroke-width: var(--border-width-mobile);
  opacity: var(--string-opacity); 
  
  stroke-dasharray: 3000;
  stroke-dashoffset: 3000;
  transition: stroke-dashoffset 1.5s ease-in-out;
}

/* ANIMATION TRIGGER */
.connection-line.is-visible {
  stroke-dashoffset: 0;
}


/* AUDIO PLACEHOLDER */
.audio-placeholder {
  background-color: white;
  inline-size: 100%; 
  aspect-ratio: 1 / 1; 
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--red-bright); 
}

/* MODAL STYLES */

dialog {
  position: fixed; 
  inset: 0; /*Instead of writing top, bottom, left, right = 0, inset is logical and shorter */
  margin: auto; 
  inline-size: auto; 
  max-block-size: 70vh;
}

#dialog-img{
  inline-size: auto;
  max-inline-size: 60vw;
  block-size: auto; 
  max-block-size: 40vh; 
  object-fit: contain;
  border-block-start: var(--border-width-mobile) solid var(--red-bright);
  border-block-end: var(--border-width-mobile) solid var(--red-bright);
  padding-block: var(--text-pad);
  
}

.dialog-grid{
  display: flex;
  flex-direction: column;
  padding: var(--text-pad);
  margin: auto;
  list-style: none;
  background-color:var(--red-dull);
  max-inline-size: 80%;
}

.row-header{
  display: flex;
  justify-content: space-between;
  inline-size: 100%; 
  align-items: center; 
  box-sizing: border-box;
}

.row-media{
  border-inline-start: var(--border-width-mobile) solid var(--red-bright);
  border-inline-end: var(--border-width-mobile) solid var(--red-bright);
  padding-inline: var(--text-pad);
  inline-size: auto;
}

.row-desc #dialog-title{
  color: var(--offwhite);
}
  
iframe{
  border-block-start: var(--border-width-mobile) solid var(--red-bright);
  border-block-end: var(--border-width-mobile) solid var(--red-bright);
  padding-block: var(--text-pad);
}

#dialog-title{
  color: var(--off-white);
}


/* I'm so happy I figured out the tiktok sizing thing myself with trial and error!! */
/* The scale thing mildly worked, but my dialog was still super huge, so I had to find a way to target that separately */
/* For the :has thing i did not use an LLM, instead just wanted to know if there was a way we could target backwards, like the parent of a child (because I vaguely remember discussing this in class last semester), then found this on mdn: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Selectors/:has  */

dialog:has(#dialog-embed iframe[src*="tiktok"]) {
  max-block-size: 50%;
  margin-block-start: calc(var(--morespacing));
}

#dialog-embed iframe[src*="tiktok"] {
  block-size: auto;
  inline-size: 100%;
  aspect-ratio: 9/16; 
  border-radius:0;
}

#dialog-embed audio{
  inline-size: calc(var(--morespacing)*4); /* For some reason, percentages wasn't working here */
  display: block;
}

.close-x-btn{
  padding: calc(var(--text-pad)/2);
  font-size: var(--text-pad);
  inline-size: auto; 
  block-size: auto;
}

.action-btn{
  padding: var(--text-pad);
}

.hidden {
    display: none;
}

.empty-state {
    opacity: 0.5;
}

dialog::backdrop {
  background-color: var(--red-bright);
  opacity: var(--dimmer-opacity);
}
/* MODAL STYLES END*/

html{
  padding: calc(var(--spacing)/4);
}

@media (width > 800px) {

  :root{
    font-size: 1rem;
  }

/* BASE STYLES */
  body {
    
    display: grid;
    
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content 1fr; 
    
    grid-template-areas:
      "sidebar controls"
      "sidebar content";
      
    align-items: start; 
    gap: var(--morespacing);
    padding: var(--spacing);
    box-sizing: border-box;
    min-block-size: 100vh;
  }

  main {
    grid-area: sidebar;
    
    position: sticky;
    inset-block-start: var(--spacing);
    
    display: flex;
    flex-direction: column;
    gap: var(--morespacing);
    
    max-block-size: 100vh;
    overflow-y: auto;  
    overflow-x: hidden;
  }

  h1 {
    inline-size: min-content;
    text-align: left;
    margin: 0;
    padding: 0;
    font-size: calc(var(--spacing) * 2.5); 
  }

  main ul {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
    padding: 0;
    margin: 0;
    inline-size: 100%;
  }

  main li {
    inline-size: 100%;
    box-sizing: border-box;
    text-align: left;
    color: var(--red-bright);
    padding: var(--text-pad);
    
    flex: unset;
    border-radius: 0;
  }

/* BUTTONS */

  #controls {
    grid-area: controls;
    
    position: sticky;
    top: var(--spacing);
    z-index: 40;
    
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: var(--text-pad);
    
    margin: 0;
    padding: 0;
    inline-size: 100%;
    background: transparent; 
  }

    /* BLOCKS GRID */
  section {
    grid-area: content;
    inline-size: 100%;
  }

  #channel-blocks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--morespacing);
    
    inline-size: 100%;
    margin: 0;
    padding: 0;
  }

  #channel-blocks li {
    padding: 0;
    inline-size: 100%;
    block-size: auto;
    
    aspect-ratio: 1 / 1; 
    
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  #channel-description, #channel-count, #last-updated, #channel-users{
    padding: 0;
  }

/* SPECIFIC */

  #dialog-embed audio{
  inline-size: calc(var(--morespacing)*6); /* For some reason, percentages wasn't working here */
  display: block;
  } 

  .dialog-grid{
  max-inline-size: 40%;
 }

}

@media (width > 1200px) {

  :root{ 
    font-size: 1.2rem;
  }

}
