@font-face {
    font-family: 'PicNic';
    src: url('PicNic-Regular.woff2') format('woff2'),
        url('PicNic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PicNic';
    src: url('PicNic-Regular.woff2') format('woff2'),
        url('PicNic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

