<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1371</integer>
    <key>capHeight</key>
    <integer>1300</integer>
    <key>copyright</key>
    <string>Manon Van der Borght et Mariel Nils</string>
    <key>descender</key>
    <integer>-366</integer>
    <key>familyName</key>
    <string>Velvelyne</string>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2023/10/26 15:58:38</string>
    <key>openTypeNameDesigner</key>
    <string>Manon Van der Borght et Mariel Nils</string>
    <key>openTypeNameLicense</key>
    <string>SIL OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>Velvetyne</string>
    <key>openTypeNameManufacturerURL</key>
    <string>velvetyne.fr</string>
    <key>openTypeNamePreferredSubfamilyName</key>
    <string>Light</string>
    <key>openTypeOS2Panose</key>
    <array>
      <integer>2</integer>
      <integer>11</integer>
      <integer>6</integer>
      <integer>6</integer>
      <integer>2</integer>
      <integer>2</integer>
      <integer>2</integer>
      <integer>3</integer>
      <integer>2</integer>
      <integer>4</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2UnicodeRanges</key>
    <array>
      <integer>0</integer>
      <integer>1</integer>
      <integer>2</integer>
    </array>
    <key>openTypeOS2WeightClass</key>
    <integer>200</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>postscriptBlueScale</key>
    <real>0.03333</real>
    <key>postscriptBlueShift</key>
    <integer>8</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-25</integer>
      <integer>0</integer>
      <integer>1005</integer>
      <integer>1030</integer>
      <integer>1300</integer>
      <integer>1325</integer>
      <integer>1371</integer>
      <integer>1396</integer>
    </array>
    <key>postscriptFontName</key>
    <string>Velvelyne-Light</string>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-391</integer>
      <integer>-366</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>50</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>50</integer>
      <integer>50</integer>
    </array>
    <key>styleMapFamilyName</key>
    <string>Velvelyne Light</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>Light</string>
    <key>trademark</key>
    <string>Velvelyne</string>
    <key>unitsPerEm</key>
    <integer>2048</integer>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>70</integer>
    <key>xHeight</key>
    <integer>1005</integer>
  </dict>
</plist>
